@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.home {
  margin-top: -32px;
  position: relative;
  z-index: 0;
}

@media (max-width: 640px) {
  .home {
    height: calc(100vh + 24px);
  }
}
